navbar{
    display: flex;
    justify-content: space-around;
    background:rgb(199, 185, 199);
   
}
.Navbar > h2{
    color:white;
    text-decoration:unset;
    font-family: sans-serif;
}

img{
width: 500px;
}

